<!--

<button type="submit" class="btn btn-primary" (click)="performLogin()">Sign in</button>
<button type="submit" class="btn btn-secondary" (click)="getPilots()">Get pilots</button>
<table border="1px">
<tr>
  <th>First Name</th>
  <th>Last Name</th>
</tr>
<tr *ngFor="let pilot of pilots">
  <td> {{pilot.firstName}} </td>
  <td>{{pilot.lastName}} </td>
</tr>

</table>
-->
 <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item" >
          <h1 style="background-color:#f0852c;margin-bottom: 0;color:#ffffff;padding:30px">Book Your Ticket Now</h1>
        <img src="../../assets/wall3.jpg" style="opacity: 0.2;" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" style="position: absolute;top:140px;">
            <h1 class="display-1" style="color:dimgray">Secure You Place !!! Hurry</h1>
            <a  [routerLink]="['/book']" class="btn btn-primary btn-lg">BOOK NOW</a>
        </div>
      </div>
      <div class="carousel-item active">
          <h1 style="background-color:#91aa2e;margin-bottom: 0;color:#ffffff;padding:30px">Feel Nature With Us</h1>
            <img src="../../assets/wall1.jpg" class="d-block w-100" alt="...">

            <div style="margin:auto;color:#ffffff;position:absolute;top:200px;left:140px;">
                <h1 class="display-1" style="color:#fff;">WELCOME TO HIMALAYAN PARAGLIDING</h1>
            </div>
      </div>
      <div class="carousel-item">
          <h1 style="background-color:#627eab;;margin-bottom: 0;color:#fdfeaf;padding:30px">Get 15% Cash Back</h1>
        <img src="../../assets/wall2.jpg" class="d-block w-100" alt="...">
        <div style="color:#ffffff;position:absolute;top:200px;left:250px;">
            <h1 class="display-1" style="color:#ffffff;">OUR PILOTS ARE PROFESSIONALS</h1>
        </div>
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  